:root {
  --branding-color: #f65282;
  --secondary-color: #ffffff;
  --heading-font-family: "Roboto", sans-serif;
  --defult-font-family: "Montserrat", sans-serif;
}
body {
  font-family: var(--defult-font-family);
  background: black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: white;
}
h1 {
  font-size: 72px;
  line-height: 1.5;
}
h3 {
  font-weight: bold;
  color: var(--branding-color);
}
p {
  color: white;
  font-weight: regular;
  font-size: 18px;
  line-height: 30px;
}
.hero {
  text-align: center;
  padding: 100px 423px;
}
.hero p {
  font-size: 18px;
  line-height: 30px;
  margin: 30px;
  color: #fff;
}
.hero h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
}
.content-container,
.project-description {
  padding: 60px 20px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;

  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}
.btn-branding {
  background-color: var(--secondary-color);
  color: #272142;
  border-radius: 50px;
  font-family: var(--defult-font-family);
  font-weight: bold;
  font-weight: 14px;
  padding: 18px 30px;
}
.btn-branding:hover {
  background: var(--branding-color);
}
nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: #f65282;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: #282323;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 20px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: var(--secondary-color);
}
@media (max-width: 900px) {
  h1 {
    font-size: 35px;
    line-height: 1.5;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 26px;
  }
  .hero {
    text-align: center;
    padding: 100px 20px;
  }
  .icon {
    font-size: 25px;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
